@import url(https://fonts.googleapis.com/css?family=Marcellus);
/* line 21, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* @import 'font-awesome.min.css'; */
/* line 19, ../_sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Marcellus', serif;
}

/* line 28, ../_sass/style.scss */
body.is-loading #banner #inner h2 {
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}
/* line 31, ../_sass/style.scss */
body.is-loading #banner #inner h2:before, body.is-loading #banner #inner h2:after {
  width: 0;
  opacity: 0;
}
/* line 37, ../_sass/style.scss */
body.is-loading #banner #inner p {
  opacity: 0;
}
/* line 42, ../_sass/style.scss */
body.is-loading #banner .more {
  -moz-transform: translateY(8.5em);
  -ms-transform: translateY(8.5em);
  -webkit-transform: translateY(8.5em);
  transform: translateY(8.5em);
  opacity: 0;
}

/* line 49, ../_sass/style.scss */
a {
  text-decoration: none;
}

/* line 53, ../_sass/style.scss */
#banner {
  font-family: 'Open Sans', Helvetica, sans-serif;
  /* @include background-image(linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/banner.jpg")); */
  background-image: url("/images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  min-height: 35em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}
/* line 54, ../_sass/style.scss */
#banner h2 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1.75em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-size: 1.35em;
}

/* line 82, ../_sass/style.scss */
#inner {
  margin-left: 25%;
}
/* line 84, ../_sass/style.scss */
#inner h2 {
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
  text-transform: none;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.85s ease;
  -o-transition: -o-transform 0.85s ease;
  -webkit-transition: -webkit-transform 0.85s ease;
  transition: transform 0.85s ease;
}
/* line 95, ../_sass/style.scss */
#inner h2:before, #inner h2:after {
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  background-color: white;
}
/* line 107, ../_sass/style.scss */
#inner h2:before {
  top: 0;
  left: 0;
}
/* line 112, ../_sass/style.scss */
#inner h2:after {
  bottom: 0;
  right: 0;
}
/* line 117, ../_sass/style.scss */
#inner p {
  text-transform: uppercase;
  letter-spacing: 0.225em;
  -moz-transition: opacity 0.55s ease;
  -o-transition: opacity 0.55s ease;
  -webkit-transition: opacity 0.55s ease;
  transition: opacity 0.55s ease;
  opacity: 1;
}

/* line 125, ../_sass/style.scss */
.more {
  -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
  -o-transition: -o-transform 0.75s ease, opacity 0.75s ease;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border: 0;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}

/* line 148, ../_sass/style.scss */
.more:after {
  background-image: url("images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 4em;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  position: absolute;
  width: 1.5em;
}

/* line 163, ../_sass/style.scss */
.container {
  background-image: url(/images/goldbackground.jpg);
  /* @include container(1000px); */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 50px 0;
  border: 2px #CEDFEA solid;
}
@media (min-width: 60em) {
  /* line 163, ../_sass/style.scss */
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* line 179, ../_sass/style.scss */
.module {
  border: solid 1px #cedfea;
  background-color: rgba(250, 250, 255, 0.8);
  border-radius: 25px;
}

/* line 185, ../_sass/style.scss */
.module {
  padding: 1.69492%;
  padding-top: 0;
  margin-top: 25px;
  overflow: hidden;
  *zoom: 1;
}
/* line 188, ../_sass/style.scss */
.module h2 {
  color: gray;
}

/* line 195, ../_sass/style.scss */
.module {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* &.events { */
  /*     width: span(12); */
  /*     margin-left: auto; */
  /*     margin-right: auto; */
  /* } */
  /* ul { */
  /*     list-style-type: none; */
  /*     list-style-position: outside; */
  /*     li { */
  /*         margin-top: 15px; */
  /*     } */
  /* } */
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.module:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 198, ../_sass/style.scss */
.module .header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: table-cell;
  vertical-align: middle;
}
@media (min-width: 32em) {
  /* line 198, ../_sass/style.scss */
  .module .header {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 206, ../_sass/style.scss */
.module .desc {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 32em) {
  /* line 206, ../_sass/style.scss */
  .module .desc {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 219, ../_sass/style.scss */
.module .event {
  overflow: hidden;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 221, ../_sass/style.scss */
.module .event img {
  max-width: 100%;
  min-width: 200px;
}
@media (min-width: 32em) {
  /* line 219, ../_sass/style.scss */
  .module .event {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 232, ../_sass/style.scss */
.module .event.reception {
  float: right;
  margin-right: 0;
}
/* line 235, ../_sass/style.scss */
.module .event.wedding {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 32em) {
  /* line 235, ../_sass/style.scss */
  .module .event.wedding {
    padding-left: 25.42373%;
    padding-right: 25.42373%;
  }
}
/* line 243, ../_sass/style.scss */
.module .hotel {
  /* @include gallery(6); */
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
/* line 248, ../_sass/style.scss */
.module .hotel img {
  max-width: 100%;
}
/* line 252, ../_sass/style.scss */
.module .hotel.hotelprovincial {
  float: right;
  margin-right: 0;
}
/* line 255, ../_sass/style.scss */
.module .hotel.whitney {
  float: right;
  margin-right: 0;
}
/* line 263, ../_sass/style.scss */
.module .drink-img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
@media (min-width: 32em) {
  /* line 263, ../_sass/style.scss */
  .module .drink-img {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 270, ../_sass/style.scss */
.module .drink-desc {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 32em) {
  /* line 270, ../_sass/style.scss */
  .module .drink-desc {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 277, ../_sass/style.scss */
.module .food-img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  overflow: hidden;
}
@media (min-width: 32em) {
  /* line 277, ../_sass/style.scss */
  .module .food-img {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 285, ../_sass/style.scss */
.module .food-desc {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 32em) {
  /* line 285, ../_sass/style.scss */
  .module .food-desc {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 292, ../_sass/style.scss */
.module .registry-img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 32em) {
  /* line 292, ../_sass/style.scss */
  .module .registry-img {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 297, ../_sass/style.scss */
  .module .registry-img:last-child {
    float: right;
    margin-right: 0;
  }
}

/* line 313, ../_sass/style.scss */
.nola img {
  max-width: 300px;
}
