@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Marcellus);
/* line 21, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../_sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Marcellus', serif;
}

/* line 28, ../_sass/style.scss */
body.is-loading #banner #inner h2 {
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}
/* line 31, ../_sass/style.scss */
body.is-loading #banner #inner h2:before, body.is-loading #banner #inner h2:after {
  width: 0;
  opacity: 0;
}
/* line 37, ../_sass/style.scss */
body.is-loading #banner #inner p {
  opacity: 0;
}
/* line 42, ../_sass/style.scss */
body.is-loading #banner .more {
  -moz-transform: translateY(8.5em);
  -ms-transform: translateY(8.5em);
  -webkit-transform: translateY(8.5em);
  transform: translateY(8.5em);
  opacity: 0;
}

/* line 49, ../_sass/style.scss */
a {
  text-decoration: none;
}

/* line 53, ../_sass/style.scss */
#banner {
  font-family: 'Open Sans', Helvetica, sans-serif;
  /* @include background-image(linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/banner.jpg")); */
  background-image: url("/images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  min-height: 35em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}
/* line 54, ../_sass/style.scss */
#banner h2 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1.75em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-size: 1.35em;
}

/* line 82, ../_sass/style.scss */
#inner {
  margin-left: 25%;
}
/* line 84, ../_sass/style.scss */
#inner h2 {
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
  text-transform: none;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.85s ease;
  -o-transition: -o-transform 0.85s ease;
  -webkit-transition: -webkit-transform 0.85s ease;
  transition: transform 0.85s ease;
}
/* line 95, ../_sass/style.scss */
#inner h2:before, #inner h2:after {
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  background-color: white;
}
/* line 107, ../_sass/style.scss */
#inner h2:before {
  top: 0;
  left: 0;
}
/* line 112, ../_sass/style.scss */
#inner h2:after {
  bottom: 0;
  right: 0;
}
/* line 117, ../_sass/style.scss */
#inner p {
  text-transform: uppercase;
  letter-spacing: 0.225em;
  -moz-transition: opacity 0.55s ease;
  -o-transition: opacity 0.55s ease;
  -webkit-transition: opacity 0.55s ease;
  transition: opacity 0.55s ease;
  opacity: 1;
}

/* line 125, ../_sass/style.scss */
.more {
  -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
  -o-transition: -o-transform 0.75s ease, opacity 0.75s ease;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border: 0;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}

/* line 148, ../_sass/style.scss */
.more:after {
  background-image: url("images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 4em;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  position: absolute;
  width: 1.5em;
}

/* line 163, ../_sass/style.scss */
.container {
  background-image: url(/images/goldbackground.jpg);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 1000px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  border: 2px #CEDFEA solid;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 173, ../_sass/style.scss */
.module {
  /* border-left: solid 10px #cedfea; */
  border: solid 1px #cedfea;
  background-color: rgba(250, 250, 255, 0.8);
  border-radius: 25px;
}

/* line 180, ../_sass/style.scss */
.module {
  padding: 1.69492%;
  padding-top: 0;
  margin-top: 25px;
  overflow: hidden;
  *zoom: 1;
}
/* line 183, ../_sass/style.scss */
.module h2 {
  color: gray;
}

/* line 190, ../_sass/style.scss */
.module {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.module:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 193, ../_sass/style.scss */
.module .header {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: table-cell;
  vertical-align: middle;
}
/* line 198, ../_sass/style.scss */
.module .desc {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
/* line 202, ../_sass/style.scss */
.module.events {
  width: 49.15254%;
  margin-left: auto;
  margin-right: auto;
}
/* line 208, ../_sass/style.scss */
.module .event {
  overflow: hidden;
  /* @include span(12 last); */
  /* @include susy-breakpoint($bp-medium, $susy) { */
  /* @include span(6 of 12); */
  /* } */
  /* @include susy-breakpoint($bp-large, $susy) { */
  /*     @include span(4 of 12); */
  /* } */
  /* @include gallery(6 of 12); */
  /* &:last-child { */
  /*     @include last; */
  /* } */
}
/* line 218, ../_sass/style.scss */
.module .event img {
  max-width: 100%;
  min-width: 200px;
}
/* line 230, ../_sass/style.scss */
.module .hotel {
  /* @include gallery(5 of 10); */
}
/* line 232, ../_sass/style.scss */
.module .hotel img {
  max-width: 100%;
}
/* line 235, ../_sass/style.scss */
.module .hotel:last-child {
  float: right;
  margin-right: 0;
}
/* line 243, ../_sass/style.scss */
.module .drink-img {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  overflow: hidden;
}
/* line 247, ../_sass/style.scss */
.module .drink-desc {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}
/* line 251, ../_sass/style.scss */
.module .food-img {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  overflow: hidden;
}
/* line 255, ../_sass/style.scss */
.module .food-desc {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}

/* line 260, ../_sass/style.scss */
.nola img {
  max-width: 300px;
}

/*************************************
Build the scene and rotate on hover
**************************************/
/* line 271, ../_sass/style.scss */
.stage {
  list-style: none;
  padding: 0;
}

/* line 276, ../_sass/style.scss */
.scene {
  width: 520px;
  height: 300px;
  margin: 30px;
  float: left;
  -moz-perspective: 2000px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

/* line 284, ../_sass/style.scss */
.movie {
  width: 520px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-260px);
  -moz-transform: translateZ(-260px);
  transform: translateZ(-260px);
  -webkit-transition: -webkit-transform 350ms;
  -moz-transition: -moz-transform 350ms;
  transition: transform 350ms;
}

/* line 298, ../_sass/style.scss */
.movie:hover {
  -webkit-transform: rotateY(-78deg) translateZ(20px);
  -moz-transform: rotateY(-78deg) translateZ(20px);
  transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/
/* line 308, ../_sass/style.scss */
.movie .poster,
.movie .info {
  position: absolute;
  width: 520px;
  height: 300px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 319, ../_sass/style.scss */
.movie .poster {
  -webkit-transform: translateZ(260px);
  -moz-transform: translateZ(260px);
  transform: translateZ(260px);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 327, ../_sass/style.scss */
.movie .info {
  -webkit-transform: rotateY(90deg) translateZ(260px);
  -moz-transform: rotateY(90deg) translateZ(260px);
  transform: rotateY(90deg) translateZ(260px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/
/* line 339, ../_sass/style.scss */
.csstransforms3d .movie::after {
  content: '';
  width: 520px;
  height: 300px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg) translateY(260px);
  -moz-transform: rotateX(90deg) translateY(260px);
  transform: rotateX(90deg) translateY(260px);
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}

/* line 357, ../_sass/style.scss */
.csstransforms3d .movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

/*************************************
Movie information
**************************************/
/* line 365, ../_sass/style.scss */
.info header {
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  font-size: 34px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.info header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 373, ../_sass/style.scss */
.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
}

/* line 378, ../_sass/style.scss */
.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #666;
  line-height: 1.4em;
  font-size: 16px;
}

/* line 388, ../_sass/style.scss */
.details {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

/* line 392, ../_sass/style.scss */
.checkout {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

/*************************************
Generate "lighting" using box shadows
**************************************/
/* line 400, ../_sass/style.scss */
.movie .poster,
.movie .info,
.movie .info header {
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}

/* line 408, ../_sass/style.scss */
.csstransforms3d .movie .poster {
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

/* line 412, ../_sass/style.scss */
.csstransforms3d .movie:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}

/* line 416, ../_sass/style.scss */
.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

/* line 421, ../_sass/style.scss */
.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
  box-shadow: inset 0px 0px 40px transparent;
}

/*************************************
Posters and still images
**************************************/
/* line 430, ../_sass/style.scss */
.scene:nth-child(1) .movie .poster {
  background-image: url(http://www.anywherenrado.com/wp-content/uploads/2015/09/Migration.jpg);
}

/* line 434, ../_sass/style.scss */
.scene:nth-child(2) .poster {
  background-image: url(https://cdn.kiwicollection.com/media/property/PR003362/xl/003362-03-dsc0967.jpg);
}

/* line 438, ../_sass/style.scss */
.scene:nth-child(3) .poster {
  background-image: url(http://www.wmagazine.com/wp-content/uploads/2012/11/blog-Micato-Safaris-vehicle-and-lion.jpg);
}

/* line 442, ../_sass/style.scss */
.scene:nth-child(4) .poster {
  background-image: url(http://o.aolcdn.com/hss/storage/adam/5103f3bb4a83631d50b07d486e3f15c0/dv2074040.jpg);
}

/* line 452, ../_sass/style.scss */
.scene:nth-child(2) .info header {
  background-image: url();
}

/* line 456, ../_sass/style.scss */
.scene:nth-child(3) .info header {
  background-image: url();
}

/** Button */
/* line 475, ../_sass/style.scss */
.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
}

/* line 483, ../_sass/style.scss */
.btn-green {
  background: #2ecc71;
}
/* line 466, ../_sass/style.scss */
.btn-green:hover {
  background: #26ab5f;
  transition: all 0.3s ease;
}
/* line 470, ../_sass/style.scss */
.btn-green:active {
  background: #176437;
}

/* line 487, ../_sass/style.scss */
.btn-blue {
  background: #3498db;
}
/* line 466, ../_sass/style.scss */
.btn-blue:hover {
  background: #2383c4;
  transition: all 0.3s ease;
}
/* line 470, ../_sass/style.scss */
.btn-blue:active {
  background: #16527a;
}

/* line 491, ../_sass/style.scss */
.btn-aqua {
  background: #40bbc8;
}
/* line 466, ../_sass/style.scss */
.btn-aqua:hover {
  background: #32a2ad;
  transition: all 0.3s ease;
}
/* line 470, ../_sass/style.scss */
.btn-aqua:active {
  background: #1f636a;
}

/* line 495, ../_sass/style.scss */
.btn-yellow {
  background: #f1c40f;
}
/* line 466, ../_sass/style.scss */
.btn-yellow:hover {
  background: #cba50c;
  transition: all 0.3s ease;
}
/* line 470, ../_sass/style.scss */
.btn-yellow:active {
  background: #796307;
}

/* line 499, ../_sass/style.scss */
.btn-red {
  background: #e74c3c;
}
/* line 466, ../_sass/style.scss */
.btn-red:hover {
  background: #df2e1b;
  transition: all 0.3s ease;
}
/* line 470, ../_sass/style.scss */
.btn-red:active {
  background: #921e12;
}

/*Other Stylez*/
/* line 504, ../_sass/style.scss */
.wrap {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}
