@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Marcellus);
/* line 21, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../_sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Marcellus', serif;
}

/* line 24, ../_sass/style.scss */
body.is-loading #banner #inner h2 {
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}
/* line 27, ../_sass/style.scss */
body.is-loading #banner #inner h2:before, body.is-loading #banner #inner h2:after {
  width: 0;
  opacity: 0;
}
/* line 33, ../_sass/style.scss */
body.is-loading #banner #inner p {
  opacity: 0;
}
/* line 38, ../_sass/style.scss */
body.is-loading #banner .more {
  -moz-transform: translateY(8.5em);
  -ms-transform: translateY(8.5em);
  -webkit-transform: translateY(8.5em);
  transform: translateY(8.5em);
  opacity: 0;
}

/* line 45, ../_sass/style.scss */
a {
  text-decoration: none;
}

/* line 49, ../_sass/style.scss */
h2 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1.75em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-size: 1.35em;
}

/* line 59, ../_sass/style.scss */
#banner {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("/images/banner.jpg");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))), url("/images/banner.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/banner.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  min-height: 35em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* line 77, ../_sass/style.scss */
#inner {
  margin-left: 25%;
}
/* line 79, ../_sass/style.scss */
#inner h2 {
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
  text-transform: none;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.85s ease;
  -o-transition: -o-transform 0.85s ease;
  -webkit-transition: -webkit-transform 0.85s ease;
  transition: transform 0.85s ease;
}
/* line 90, ../_sass/style.scss */
#inner h2:before, #inner h2:after {
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  background-color: white;
}
/* line 102, ../_sass/style.scss */
#inner h2:before {
  top: 0;
  left: 0;
}
/* line 107, ../_sass/style.scss */
#inner h2:after {
  bottom: 0;
  right: 0;
}
/* line 112, ../_sass/style.scss */
#inner p {
  text-transform: uppercase;
  letter-spacing: 0.225em;
  -moz-transition: opacity 0.55s ease;
  -o-transition: opacity 0.55s ease;
  -webkit-transition: opacity 0.55s ease;
  transition: opacity 0.55s ease;
  opacity: 1;
}

/* line 120, ../_sass/style.scss */
.more {
  -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
  -o-transition: -o-transform 0.75s ease, opacity 0.75s ease;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border: 0;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}

/* line 143, ../_sass/style.scss */
.more:after {
  background-image: url("images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 4em;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  position: absolute;
  width: 1.5em;
}

/* line 158, ../_sass/style.scss */
.container {
  background-image: url(/images/goldbackground.jpg);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 1000px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  border-top: 1px #CEDFEA solid;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 65, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 67, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 71, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .container, head:hover ~ body .container {
  position: relative;
}
/* line 74, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .container:before, head:hover ~ body .container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(80%, rgba(179, 179, 255, 0.25)), color-stop(80%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

/* line 168, ../_sass/style.scss */
.paper {
  border-left: solid 1px #cedfea;
  border-right: solid 1px #cedfea;
  background-color: rgba(250, 250, 255, 0.8);
}

/* line 174, ../_sass/style.scss */
.module {
  padding: 25px;
  margin-top: 25px;
  clear: both;
}
/* line 176, ../_sass/style.scss */
.module h2 {
  color: gray;
}

/* line 183, ../_sass/style.scss */
.gallery img {
  width: 23.72881%;
  float: left;
}
/* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.gallery img:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.gallery img:nth-child(4n + 2) {
  margin-left: 25.42373%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.gallery img:nth-child(4n + 3) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.gallery img:nth-child(4n + 4) {
  margin-left: 76.27119%;
  margin-right: -100%;
  clear: none;
}
