<div class="wrapper">
	<ul class="stage clearfix">

		<li class="scene">
			<div class="movie" onclick="return true">
				<div class="poster"></div>
				<div class="info">
					<header>
						<h1>Hot air balloon</h1>

            <p>$100, 5 of 5 remaining</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="RCE56ME9ANNLQ">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

					</header>
					<p>
						Ingrid and I will conquer our fear of heights in the style of
						"Up", high above the Serengeti.
					</p>
				</div>
			</div>
		</li>

		<li class="scene">
			<div class="movie" onclick="return true">
				<div class="poster"></div>
				<div class="info">
					<header>
						<h1>Sasakwa Lodge</h1>

            <p>$250, 5 of 5 remaining</p>
            <a href="https://www.paypal.me/robfig/100" class="btn btn-blue">
              Donate with Paypal
            </a>
					</header>

					<p>
            Ingrid and Rob pretend to be British royalty and stay at the
            finest lodge in Tanzania.
					</p>
				</div>
			</div>
		</li>

		<li class="scene">
			<div class="movie" onclick="return true">
				<div class="poster"></div>
				<div class="info">
					<header>
						<h1>Game drives</h1>

            <p>$250, 5 of 5 remaining</p>
            <a href="https://www.paypal.me/robfig/100" class="btn btn-blue">
              Donate with Paypal
            </a>
					</header>

					<p>
            The king of the jungle has finally met its match!
					</p>
				</div>
			</div>
		</li>

		<li class="scene">
			<div class="movie" onclick="return true">
				<div class="poster"></div>
				<div class="info">
					<header>
						<h1>Movie</h1>
					</header>
					<p>
						
					</p>
				</div>
			</div>
		</li>

  </ul>
</div>
