// Screen
// ======

@import "grids";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/flexbox";
@import "compass/css3/transition";

@include border-box-sizing;

@import 'font-awesome.min.css';
@import url(https://fonts.googleapis.com/css?family=Marcellus);

body {
    padding: 0;
    margin: 0;
    font-family: 'Marcellus', serif;
}

body.is-loading {
    #banner {
        #inner {
	    h2 {
	        @include transform(scale(0.95));
	        opacity: 0;
	        &:before, 
                &:after {
		    width: 0;
                    opacity: 0;
	        }
	    }
            p {
	        opacity: 0;
            }
        }

	.more {
	    @include transform(translateY(8.5em));
	    opacity: 0;
	}
    }
}

a {
    text-decoration: none;
}

h2 {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1.75em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 1.35em;
}

#banner {
    font-family: 'Open Sans', Helvetica, sans-serif;

    @include background-image(linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/banner.jpg"));
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    height: 100vh;
    min-height: 35em;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
    text-align: center;
    color: white;
}

    #inner {
        margin-left: 25%;
        h2 {
            display: inline-block;
            font-size: 1.75em;
            opacity: 1;
            padding: 0.35em 1em;
            position: relative;
            z-index: 1;
            text-transform: none;
	    @include transform(scale(1));
            @include transition(transform scale 0.85s ease);

            &:before, 
            &:after {
                @include transition(width 0.35s ease);
                @include transition-delay(0);
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                width: 100%;
                background-color: white;
            }

            &:before {
                top: 0;
                left: 0;
            }

            &:after {
                bottom: 0;
                right: 0;
            }
        }
        p {
            text-transform: uppercase;
            letter-spacing: 0.225em;
            @include transition(opacity 0.55s ease);
            opacity: 1;
        }
    }

    .more {
        @include transition(transform 0.75s ease, opacity 0.75s ease);
        @include transition-delay(0);
        @include transform(translateY(0));

        border: 0;
        bottom: 0;
        color: inherit;
        font-size: 0.8em;
        height: 8.5em;
        left: 50%;
        letter-spacing: 0.225em;
        margin-left: -8.5em;
        opacity: 1;
        outline: 0;
        padding-left: 0.225em;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 16em;
        z-index: 1;
    }

    .more:after {
        background-image: url("images/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 4em;
        content: '';
        display: block;
        height: 1.5em;
        left: 50%;
        margin: 0 0 0 -0.75em;
        position: absolute;
        width: 1.5em;
    }

.container {
    @include background-image(url(/images/goldbackground.jpg));
    @include container(show overlay);
    min-height: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    border-top: 1px #CEDFEA solid;
}

.paper {
    border-left: solid 1px #cedfea;
    border-right: solid 1px #cedfea;
    background-color: rgba(250, 250, 255, 0.8);
}

.module {
    padding: 25px;
    h2 {
        color: gray;
    }
    margin-top: 25px;
    clear: both;
}

.gallery img {
  @include gallery(3 of 12);
}


/*************************************
Build the scene and rotate on hover
**************************************/

$cube-width: 520px;
$cube-height: 300px;

.stage {
	list-style: none;
	padding: 0;
}

.scene {
	width: $cube-width;
	height: $cube-height;
	margin: 30px;
	float: left;
	@include perspective(2000px);
}

.movie {
	width: $cube-width;
	height: $cube-height;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-$cube-width/2);
	-moz-transform: translateZ(-$cube-width/2);
	transform: translateZ(-$cube-width/2);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster, 
.movie .info {
	position: absolute;
	width: $cube-width;
	height: $cube-height;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ($cube-width/2);
	-moz-transform: translateZ($cube-width/2);
	transform: translateZ($cube-width/2);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ($cube-width/2);
	-moz-transform: rotateY(90deg) translateZ($cube-width/2);
	transform: rotateY(90deg) translateZ($cube-width/2);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: $cube-width;
	height: $cube-height;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY($cube-width/2);
	-moz-transform: rotateX(90deg) translateY($cube-width/2);
	transform: rotateX(90deg) translateY($cube-width/2);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
        font-size: 34px;
        @include container();
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
	// border-top: 10px solid #555;
        font-size: 16px;
}

.details {
    @include span(5);
}

.checkout {
    @include span(5);
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info, 
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info, 
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Posters and still images
**************************************/

.scene:nth-child(1) .movie .poster {
    background-image: url(http://www.anywherenrado.com/wp-content/uploads/2015/09/Migration.jpg);
}

.scene:nth-child(2) .poster {
    background-image: url(https://cdn.kiwicollection.com/media/property/PR003362/xl/003362-03-dsc0967.jpg);
}

.scene:nth-child(3) .poster {
    background-image: url(http://www.wmagazine.com/wp-content/uploads/2012/11/blog-Micato-Safaris-vehicle-and-lion.jpg);
}

.scene:nth-child(4) .poster {
    background-image: url(http://o.aolcdn.com/hss/storage/adam/5103f3bb4a83631d50b07d486e3f15c0/dv2074040.jpg);
}

.scene:nth-child(1) .info header {
//    @include background-image(url(/images/bluebackground.jpg));
//    background-size: cover;
//    background-repeat: repeat;
}

.scene:nth-child(2) .info header {
    background-image: url();
}

.scene:nth-child(3) .info header {
    background-image: url();
}


/** Button */


@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-size:14px;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}

/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
}
